* {
    padding: 0;
    margin: 0;
  }
  div {display: block;}
  
  body{
    background-color: #1B2939;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
  }
  header {
    display: flex;
    height: 70px;
    background-color: #171D25;
    align-items: center; 
    padding: 18px 0px 30px 25%;
    margin-bottom: 20px;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
  }
  .logo-img{
    height: 50px;
    width: 50px;
  }
  
  .info-General{
    display: flex;
    align-items: center; 
    margin-left: 12%;
    margin-bottom: 300px;
  }
  
  .info-Individual{
    display: block;
    position: relative;
    padding: 15px 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 550;
    text-transform: uppercase;
  }
  
  .general_action_menu{
      position: absolute;
      right: 25%;
      top: 0.8%;
      height: 25px;
      line-height: 21px;
      color: #b8b6b4;
      font-size: 11px;
      z-index: 990;
      font-size: 12px;
      font-family: "Motiva Sans", Sans-serif;
      font-weight: lighter;
  }
  
  .install {
    background-color: #5c7e10;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    padding-left: 35px !important;
  }
  
  .btn_install {
    display: inline-block;
    padding-left: 8px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
  }
  
  /*
  Code snippet by maridlcrmn for Bootsnipp.com
  Follow me on Twitter @maridlcrmn
  */
  
  .centrar{
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
  
  .navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto;  }
  
  .navbar .navbar-collapse { position: relative; }
  .navbar .navbar-collapse .navbar-right { margin-right: 20%;}
  
  .navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 10%; }
  
  .navbar.navbar-inverse {margin-left: 20%;  margin-right: 25%;     background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgba( 0, 0, 0, 0.4);}
  .navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
  .nav-collapse>li { float: right; }
  
  .btn.btn-circle { border-radius: 50px; }
  .btn.btn-outline { background-color: transparent; }
  
  @media screen and (max-width: 767px) {
      .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
      
      .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
      .navbar .nav-collapse .navbar-form { margin: 0; }
      .nav-collapse>li { float: none; }
  }
  
  .search-bar {
    position: relative;
  }
  
  .search-input {
    padding: 8px 40px 8px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    height: 35px;
    margin-top: 5px;
    margin-left: 20px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  
  
  /* ------------------------------ */
  .BtnMove {
    height: 111px;
    width: 48px;
  
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
  }
  
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* stilo.css */
  .contenedor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; /* Esto es opcional, pero ayuda a centrar verticalmente. */
  }
  
  .hijo {
    text-align: center; /* Esto centrará el contenido del hijo horizontalmente. */
  }
  
  /*
  Code snippet by maridlcrmn for Bootsnipp.com
  Follow me on Twitter @maridlcrmn
  Image credits: unsplash.com, uifaces.com/authorized
  Image placeholders: placemi.com
  */
  
  
  
  
  /************/
  /*          Panel cards         */
  /************/
  .panel.panel-card {
    position: relative;
    height: 340px;
    width: 1024px;
    border: none;
    overflow: hidden;
    margin-right: 200px;
    
  }
  .panel.panel-card .panel-heading {
    position: relative;
    
    z-index: 2;
    height: 290px;
    border-bottom-color: #fff;
    overflow: hidden;
    -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
  }
  .panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
  }
  .panel.panel-card .panel-heading button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
    
  }
  .panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
  }
  
  .panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
  } 
  
  .panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
  }
  .panel-thumbnails .thumbnail {
    width: 60px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    
  } 
  
  
  .panel.panel-card:hover .panel-heading {
    height: 55px;
    
    -webkit-transition: height 400ms ease-in-out;
            transition: height 400ms ease-in-out;
            
  }
  .panel.panel-card:hover .panel-figure {
    opacity: 0;
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
  }
  .panel.panel-card:hover .panel-body {
    padding-top: 20px;
    
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
  }
  
  .imagen-principal {
    width: 60%;
    overflow: hidden;
  }
  
  .imagen-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .imagenes-secundarias {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  .thumbnail {
    width: 48%; /* Para dejar un pequeño espacio entre las imágenes */
    margin-bottom: 10px;
  }
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ImgMain  {
    width: 100% !important;
    height: 100% !important;
   
  }
  .ImgMain img {
    width: 100% !important;
    height: 100% !important;
  
  }
  
  .next{
  
    margin-right: 100px;
  }
  
  .FormImg{
  
    width: 100px;
    height: 70px;
    margin: 5px 10px 10px 900px;
  }
  .boxImg1{
    margin: 20px;
    width: 25% !important;
    height: 25% !important;
  }
  
  .gameTitle{
    font-family: "Motiva Sans", Sans-serif;
    color: whitesmoke;
    margin-left: 375px;
    font-size: 26px;
  
  
  }.imgJuegoZone {
    margin-right: 20px;
    width: 70% !important;
    height: 100% !important;
    
    
  }
  
  .imgJuegoZone img {
    
    width: 100%;
    height: 100%;
  }
  .descripcionJuego{
  
    width: auto !important;
    height: 100% !important;
  }
  
  
  .espacio {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgLogoJuego{
  
    height: 40%;
  }
  .descripcion {
    max-height: 111px;
    overflow: hidden;
    font-size: 13px;
    line-height: 18px;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: whitesmoke;
  }
  .box {
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 444px;
    max-width: 1050px;
    width: 100%;
    border: 1px solid #ccc; /* Puedes agregar un borde para mejorar la apariencia */
  }
  
  .imgJuegoZone {
    height: 100%;
    width: 100%;
  }
  
  .ZonaCompra{
    margin: 0px 0px 0px 380px;
    height: 70px;
    width: 600px;
    background: -webkit-linear-gradient( 150deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
    background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
    color: whitesmoke;
    align-items: center;
    border-radius: 2px;
    background: linear-gradient(90.41deg, #2C3C49 16.25%, #576674 99.89%);
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
  }
  .GameName{
    padding: 1px 0px 0px 20px;
    font-size: 21px;
      font-family: "Motiva Sans", Sans-serif;
      font-weight: normal;
      color: #ffffff;
      font-weight: normal;
      
  }.BuyBox {
    height: 40px;
    width: 240px;
    background: black;
    margin: 0px 10px 50px auto; /* Mueve al lado derecho */
    display: flex;
    align-items: center;
  }
  
  .Precio {
    padding-right: 10px; /* Espaciado entre "Tu precio:" y el número */
    color: whitesmoke;
    font-size: 10px;
    margin-left: 18px;
  }
  
  .PrecioNumero {
    color: whitesmoke;
    font-weight: bold;
    font-size: 14px;
  }
  
  
  .BtnCompra {
    margin-left: auto; /* Mueve al lado derecho dentro de BuyBox */
    border-radius: 2px;
    background: #6fa720;
    background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
    background: linear-gradient(to bottom, #6fa720 5%, #588a1b 95%);
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
    padding: 0 10px;
    margin-right: 4px;
    color: #d2efa9;
  }
  
  .space1{
    margin-left: 110px;
    margin-right: 5px;
  }
  
  .space2{
    margin-right: 180px;
    margin-left:5px;
  }

  .menu{
    margin-right: 800px;
  }